:root {
  --red-lite: rgb(172, 0, 0);
  --red-dark: rgb(122, 0, 0);
  --bordeaux: rgb(102, 20, 0);
  --orangy: rgb(221, 179, 97);
  --grey: rgb(122, 122, 122);
  --dark-color: rgb(29, 28, 26);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h3 {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  color: var(--orangy);
  text-align: center;
  text-shadow: 4px 4px 8px #000000;
  margin: 2rem 0rem;
}
/* Utilities */

.hamburger-menu-wrap {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

.button {
  display: inline-block;
  border: none;
  background: var(--dark-color);
  color: var(--orangy);
  padding: 1.5rem 2.5rem;
  border-radius: 5px;
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  box-shadow: 2px 4px 4px var(--dark-color);
}

.button:hover {
  font-size: 3rem;
  color: var(--dark-color);
  background: var(--orangy);
}

/* Nav */

.main-nav {
  display: flex;
  background: var(--bordeaux);
  position: fixed;
  top: 0;
  z-index: 3;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.main-nav a {
  color: var(--orangy);
  font-size: 2rem;
  padding: 0 20px;
}

.main-nav ul {
  display: none;
  /* align-items: center;
  justify-content: end;
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  text-shadow: 1px 1px 2px #000000; */
}

/* .main-nav ul li a:hover {
  color: #fff;
  text-decoration: underline;
  transition-timing-function: ease-in-out;
} */

.main-nav img {
  width: 47%;
  margin-left: 50px;
}

/* Showcase */

.showcase {
  margin-top: 62px;
  background: url("../img/momfer-main-showcase-cropped.jpg") no-repeat center
    center/cover;
  height: 80vh;
}

.showcase h1 {
  z-index: 1;
  font-family: "lobster", cursive;
  font-size: 8rem;
  color: #fff;
  text-align: center;
  text-shadow: 4px 4px 8px #000000;
}

.showcase h2 {
  z-index: 1;
  font-family: "lobster", cursive;
  font-size: 6rem;
  color: #fff;
  text-align: center;
  text-shadow: 4px 4px 8px #000000;
  margin-top: 50vh;
}

.showcase img {
  width: 100vw;
  top: 0;
}

/* Portraits */

.portraits {
  display: flex;
  justify-content: space-evenly;
  background: var(--orangy);
}

.portraits img {
  margin: 2rem 0.5rem;
  box-shadow: 3px 5px 8px var(--dark-color);
  border-radius: 5px;
  width: 20vw;
}

.portraits-color {
  display: flex;
  justify-content: space-evenly;
  background: var(--orangy);
}

.portraits-color img {
  margin: 2rem 0.5rem;
  box-shadow: 5px 10px 8px var(--dark-color);
  border-radius: 3px;
  width: 16vw;
}

/* Scenery */

.scenery {
  background-color: var(--red-dark);
}

.scenery h3 {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  color: var(--orangy);
  font-size: 4rem;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 0rem;
  padding-top: 1rem;
}

.scenery img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  border-radius: 10px;
  border: 10px solid var(--orangy);
  box-shadow: 5px 10px 15px var(--dark-color);
}

.scenery p {
  padding: 20px 50px;
  text-align: center;
  font-size: 2rem;
  color: var(--orangy);
  font-family: "Prompt", sans-serif;
}

/* Menus */

.menus {
  display: flex;
}

.menu-item {
  width: 100vw;
}

.menu-item img {
  width: 100%;
  margin-bottom: 0px;
}

.menu-item1 {
  background-color: var(--grey);
}

.menu-item2 {
  width: 50vw;
  background-image: linear-gradient(var(--dark-color), var(--grey));
  text-align: center;
  font-size: 2.5rem;
  color: var(--orangy);
  font-family: "Open Sans", sans-serif;
  padding: 6rem 4rem;
}

.menu-item2 p {
  font-size: 1.5rem;
}

.menu-item2 a {
  margin-top: 2rem;
}

.menu-item3 {
  width: 50vw;
  background-image: linear-gradient(var(--dark-color), var(--grey));
  text-align: center;
  font-size: 2.5rem;
  color: var(--orangy);
  font-family: "Open Sans", sans-serif;
  padding: 6rem 4rem;
}

.menu-item3 p {
  font-size: 1.5rem;
}

.menu-item3 a {
  margin-top: 2rem;
}

.menu-item4 {
  background-color: var(--grey);
}

/* Reservations */

/* .reservations {
    display: flex;
    background-color: var(--red-dark);
  }
  
  .reservations p {
    color: var(--orangy);
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    margin: 6rem 4rem;
    text-align: center;
  }
  
  .main-reservations-info {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  
  .main-reservation-info a {
    margin: 0px auto;
  }
  
  .main-reservation-map img {
    width: 50vw;
  } */

.reservation {
  display: flex;
}

.menu-item5 {
  background-color: var(--red-dark);
  text-align: center;
  font-size: 2.5rem;
  color: var(--orangy);
  font-family: "Open Sans", sans-serif;
  padding: 6rem 4rem;
}

.menu-item5 p {
  font-size: 1.5rem;
}

.menu-item5 a {
  margin-top: 2rem;
}

.menu-item6 {
  background-color: var(--red-dark);
}

.menu-item6 img {
  width: 100%;
  border: 10px solid var(--red-dark);
}

/* Footer */

.footer {
  display: flex;
  background: var(--dark-color);
  color: var(--orangy);
  font-family: "Open Sans", sans-serif;
}

.main-footer-left {
  width: 50vw;
}

.main-footer-right {
  width: 50vw;
}

.footer p {
  font-size: 1.5rem;
  padding: 2rem 3rem;
}

.footer-icons {
  margin-left: 3rem;
  margin-bottom: 2rem;
}

.footer-icons i {
  padding-right: 2rem;
  color: var(--orangy);
}

.footer-icons i:hover {
  color: #fff;
}
