:root {
  --red-lite: rgb(172, 0, 0);
  --red-dark: rgb(122, 0, 0);
  --bordeaux: rgb(102, 20, 0);
  --orangy: rgb(221, 179, 97);
  --grey: rgb(122, 122, 122);
  --dark-color: rgb(29, 28, 26);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h3 {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  color: var(--orangy);
  text-align: center;
  text-shadow: 4px 4px 8px #000000;
  margin: 2rem 0rem;
}

.hamburger-menu-wrap {
  display: none;
}

/* Utilities */

.button {
  display: inline-block;
  border: none;
  background: var(--dark-color);
  color: var(--orangy);
  padding: 1.5rem 2.5rem;
  border-radius: 5px;
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  box-shadow: 2px 4px 4px var(--dark-color);
  transition: all 0.4s ease;
}

.button:hover {
  font-size: 3.5rem;
}

.heading {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  color: var(--orangy);
  text-align: center;
  text-shadow: 4px 4px 8px #000000;
  margin: 2rem 0rem;
}

/* Nav */

.main-nav {
  display: flex;
  background: var(--bordeaux);
  position: fixed;
  top: 0;
  z-index: 3;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.main-nav a {
  color: var(--orangy);
  font-size: 1.5rem;
  padding: 0 18px;
}

.main-nav ul {
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  text-shadow: 1px 1px 2px #000000;
}

.main-nav ul li a:hover {
  color: #fff;
  text-decoration: underline;
  transition: color 0.2s;
}

.main-nav img {
  width: 80%;
}

/* Content */

.content {
  margin-top: 62px;
  height: 500px;
  background-image: linear-gradient(var(--bordeaux), var(--red-lite));
}

#under-construction {
  width: 100vw;
}

/* Showcase */

.showcase {
  margin-top: 62px;
  background: url("../img/momfer-main-showcase-cropped.jpg") no-repeat center
    center/cover;
  height: 85vh;
}

.showcase h1 {
  z-index: 1;
  font-family: "lobster", cursive;
  font-size: 10rem;
  color: #fff;
  text-align: center;
  text-shadow: 4px 4px 8px #000000;
}

.showcase h2 {
  z-index: 1;
  font-family: "lobster", cursive;
  font-size: 8rem;
  color: #fff;
  text-align: center;
  text-shadow: 4px 4px 8px #000000;
  margin-top: 25%;
}

.showcase img {
  width: 100vw;
  top: 0;
}

#showcase-ig {
  z-index: 2;
  position: absolute;
  top: 100px;
  left: 40px;
  width: 15vw;
  border-radius: 10px;
  box-shadow: 2px 4px 4px var(--dark-color);
}

#showcase-ig:hover {
  border: 5px solid var(--orangy);
  transition: border 0.2s;
}

/* Portraits */

.portraits {
  display: flex;
  justify-content: space-evenly;
  background: var(--orangy);
}

.portraits img {
  margin: 2rem 0.5rem;
  box-shadow: 5px 10px 8px var(--dark-color);
  border-radius: 5px;
  width: 20vw;
}

.portraits-color {
  display: flex;
  justify-content: space-evenly;
  background: var(--orangy);
}

.portraits-color img {
  margin: 2rem 0.5rem;
  box-shadow: 3px 5px 8px var(--dark-color);
  border-radius: 3px;
  width: 16vw;
}

/* Scenery */

.scenery {
  background-color: var(--red-dark);
}

.scenery h3 {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  color: var(--orangy);
  font-size: 4rem;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 0rem;
  padding-top: 1rem;
}

.scenery img {
  display: block;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  border-radius: 10px;
  border: 10px solid var(--orangy);
  box-shadow: 5px 10px 15px var(--dark-color);
}

.scenery p {
  padding: 40px 80px;
  text-align: center;
  font-size: 2.2rem;
  color: var(--orangy);
  font-family: "Prompt", sans-serif;
}

/* Menus */

.menus {
  display: flex;
  flex-wrap: wrap;
}

.menu-wrapper {
  display: flex;
}

.menu-item {
  width: 50vw;
}

.menu-item img {
  width: 100%;
  margin-bottom: 0px;
}

.menu-item1 {
  display: flex;
  align-items: center;
  background-image: linear-gradient(var(--dark-color), var(--grey));
}

.menu-item2 {
  background-image: linear-gradient(var(--dark-color), var(--grey));
  text-align: center;
  font-size: 2.5rem;
  color: var(--orangy);
  font-family: "Prompt", sans-serif;
  padding: 6rem;
}

.menu-item2 p {
  font-size: 1.5rem;
}

.menu-item2 a {
  margin-top: 2rem;
}

.menu-item3 {
  background-image: linear-gradient(var(--dark-color), var(--grey));
  text-align: center;
  font-size: 2.5rem;
  color: var(--orangy);
  font-family: "Prompt", sans-serif;
  padding: 6rem;
}

.menu-item3 p {
  font-size: 1.5rem;
}

.menu-item3 a {
  margin-top: 2rem;
}

.menu-item4 {
  display: flex;
  align-items: center;
  background-image: linear-gradient(var(--dark-color), var(--grey));
}

/* Reservations */

.reservation {
  display: flex;
}

.menu-item5 {
  background-color: var(--red-dark);
  text-align: center;
  font-size: 2.5rem;
  color: var(--orangy);
  font-family: "Prompt", sans-serif;
  padding: 6rem;
}

.menu-item5 p {
  font-size: 1.5rem;
}

.menu-item5 a {
  margin-top: 2rem;
}

.menu-item6 {
  display: flex;
  align-items: center;
  background-color: var(--red-dark);
  border: 10px solid var(--red-dark);
}

.menu-item6 img {
  width: 100%;
  border: 10px solid var(--red-dark);
}

/* News */

.news-main {
  margin-top: 62px;
  background-image: linear-gradient(var(--dark-color), var(--grey));
}

.news-article {
  display: flex;
  width: 80vw;
  justify-content: center;
  margin: auto;
}

.news-article img {
  width: 40%;
  padding: 1rem;
}

.news-article p {
  text-align: center;
  align-items: center;
  font-size: 1.6rem;
  color: var(--orangy);
  font-family: "Open Sans", sans-serif;
  padding: 2rem;
}

/* Contact */

.contact {
  margin-top: 62px;
  background-image: linear-gradient(var(--dark-color), var(--grey));
}

.contact h2 {
  font-family: "lobster", cursive;
  font-size: 8rem;
  color: var(--orangy);
  text-align: center;
  text-shadow: 4px 4px 8px #000000;
}

.contact p {
  text-align: center;
  font-size: 2rem;
  color: var(--orangy);
  font-family: "Open Sans", sans-serif;
  padding: 6rem;
}

.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.contact-content {
  width: 50%;
}

.contact-content a {
  font-size: 1.6rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.contact-content p {
  text-align: center;
  align-items: center;
  font-size: 1.6rem;
  color: var(--orangy);
  font-family: "Open Sans", sans-serif;
  padding: 6rem 4rem;
}

.contact-content-1,
.contact-content-2 {
  text-shadow: 1px 1px 4px #000000;
}

.contact-content-1 {
  background-image: linear-gradient(var(--dark-color), var(--grey));
}

.contact-content-2,
.contact-content-3 {
  background: var(--dark-color);
}

.contact-content-3 p {
  margin: 6rem;
}

.contact-content-4 {
  border: 8px solid var(--grey);
}

.contact-content-4 a {
  font-size: 2rem;
  padding: 6rem 4rem;
}

.contact-socials {
  width: 100vw;
  height: 270px;
  background-image: linear-gradient(var(--bordeaux), var(--red-dark));
}

.contact-socials .button:hover {
  font-size: 3rem;
  color: var(--dark-color);
  background: var(--orangy);
}

.contact-socials-buttons {
  display: flex;
  justify-content: center;
}

.contact-socials-buttons a {
  margin: 3rem;
}

/* Covid-19 */

.covid19 {
  margin-top: 62px;
  background-image: linear-gradient(var(--dark-color), var(--grey));
}

.covid19 h2 {
  font-family: "lobster", cursive;
  font-size: 8rem;
  color: var(--orangy);
  text-align: center;
  text-shadow: 4px 4px 8px #000000;
}

.covid19 p {
  text-align: center;
  font-size: 1.6rem;
  color: var(--orangy);
  font-family: "Open Sans", sans-serif;
  padding: 6rem 4rem;
}

.covid-policy {
  background: var(--dark-color);
  border-radius: 8px;
  text-align: left;
  font-size: 1.6rem;
  color: var(--orangy);
  font-family: "Open Sans", sans-serif;
  text-shadow: 1px 1px 4px #000000;
  padding: 6rem 4rem;
  margin: 0vw 20vw;
}

.covid-policy a {
  font-size: 1.6rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-shadow: 1px 1px 4px #000000;
}

.covid-policy .button {
  display: inline-block;
  border: none;
  background: var(--orangy);
  color: var(--dark-color);
  padding: 1.5rem 2.5rem;
  margin-right: 2rem;
  border: 4px solid var(--orangy);
  border-radius: 10px;
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  text-shadow: none;
  box-shadow: 2px 4px 4px #000000;
  transition: font-size 0.1s;
}

.covid-policy .button:hover {
  background-color: var(--dark-color);
  color: var(--orangy);
}

/* .covid-policy .button:hover {
  font-size: 3.5rem;
} */

.webshop {
  margin-top: 62px;
}

/* Footer */

.footer {
  display: flex;
  background: var(--dark-color);
  color: var(--orangy);
  font-family: "Open Sans", sans-serif;
}

.main-footer-left {
  width: 50vw;
}

.main-footer-right {
  width: 50vw;
}

.footer p {
  font-size: 1.5rem;
  padding: 2rem 3rem;
}

.footer-icons {
  margin-left: 3rem;
  margin-bottom: 2rem;
}

.footer-icons i {
  padding-right: 2rem;
  color: var(--orangy);
}

.footer-icons i:hover {
  color: #fff;
}
